@using SnackSeeker.Models
@using System.Security.Claims
@{
    ViewData["Title"] = "AddReview";
}

@model Review

<h1>AddReview</h1>

@*<table class=" table table-bordered">
    <tr>
        <th>Restaurant Name></th>
        <th>Review of Price</th>
        <th>Review of Type 1</th>
        <th>Review of Type 2</th>
        <th>Review of Type 3</th>

    </tr>
    @{ 
        foreach (Review review in Model)
        {
            if (User.FindFirst(ClaimTypes.NameIdentifier))
        }
    }
</table>*@