
@{
    ViewData["Title"] = "Search";
}
@model Categories
<h1>Search</h1>

<form action="../Snack/SearchCategory" method="post">
    <p>Search for a type of food (for example: burgers or cajun or chinese):</p>
    <input type="text" name="tag" value="" placeholder="Search for Something Awesome and Tasty!!" />
    @*<input type="text" name="location" value="" placeholder="Where are you?"/>*@
    <input type="submit" value="Search!" />
</form>