
@{
    ViewData["Title"] = "Search";
}
@model Categories
<h1>Search</h1>

<form action="../Snack/SearchCategory" method="post">
    <p>
        Enter Your Location Please!p>
        <input type="text" name="tag" value="" placeholder="Location" />
        <input type="checkbox" name="Price1" value="1" />
        <input type="checkbox" name="Price2" value="2" />
        <input type="checkbox" name="Price3" value="3" />
        <input type="checkbox" name="Price4" value="4" />
        <input type="submit" value="Search!" />

</form>