
@{
    ViewData["Title"] = "DisplayInfo";
}
@model BusinessRoot

@foreach (var business in Model.businesses)
{
    <p>Name: @business.name</p>
    <p>Reviews: @business.review_count</p>
    <p>Price: @business.price</p>
    <br />
    <br />
}